%h1 Sign up

.registration
  = form_for @user do |f|
    - if @user.errors.any?
      .error_messages
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

    .email-field
      = f.label :email
      %br
      = f.text_field :email

    .password-field
      = f.label :password
      %br
      = f.password_field :password

    .password-confirmation-field
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation

    .signup-submit
      = f.submit 'Sign Up'