%form
  .row
    .col-md-10.col-md-offset-1.search-city-form
      %h3 Find your city:
      = form_tag user_cities_new_path, method: :get do
        %p.input-group
          %span.name-field
            = text_field_tag :search, params[:search], class: 'form-control'
          %span.search-submit
            = submit_tag 'Search', class: 'btn btn-sm btn-primary'

      - if @forecast
        = form_tag user_cities_path, method: :post do
          = hidden_field_tag 'user_city[city_id]', @forecast.city_id
          = hidden_field_tag 'user_city[uid]', @forecast.city_uid
          = submit_tag 'Add to your cities', class: 'btn btn-primary btn-sm'

        %h4 5 day forecast for:
        %h2= @forecast.city_name

        = render 'forecast/forecast'
        
      - else
        %h3 No Cities found

